<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="overflow: auto;">
<head>
    <meta charset="utf-8">
    <title>동물약국</title>
    <!--로컬CSS파일-->
	<link rel="stylesheet" type="text/css" th:href="@{/css/map.css}">
	<!--구글폰트API-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
	<!--FONTAWESOME5-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
	<!-- Bootstrap CSS CDN -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<!--배경설정style 잠시보류-->
	<!-- <style th:inline="text">
		body { background : url([[@{/img/bg_green_small.png}]]) no-repeat, #85ac33; }
	</style> -->
</head>

<body>
	<header>
		<button type="button" id="sidebarCollapse">
			<span><i class="fas fa-bars"></i></span>
		</button>
		<a href="/"><span class=title>동물약국🐶🐱🐹</span></a>
	</header>
	
<!-- Sidebar  -->
    <nav id="sidebar">
        <div id="dismiss">
            <i class="fas fa-bars"></i>
        </div>

        <div class="sidebar-header">
            <span class=title>동물약국🐶🐱🐹</span>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <a href="/">홈</a>
            </li>
            <li>
                <a href="#">마이페이지</a>
            </li>
            <li>
                <a th:href="@{/logout}">로그아웃</a>
            </li>
        </ul>
    </nav>
	
	<!-- Font Awesome JS -->
	<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
	<!-- jQuery CDN - Slim version (=without AJAX) -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<!-- Popper.JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	<!-- Bootstrap JS -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
	<!-- jQuery Custom Scroller CDN -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
	<script type="text/javascript">
	    $(document).ready(function () {
	        $("#sidebar").mCustomScrollbar({
	            theme: "minimal"
	        });
	
	        $('#dismiss, .overlay').on('click', function () {
	            $('#sidebar').removeClass('active');
	            $('.overlay').removeClass('active');
	        });
	
	        $('#sidebarCollapse').on('click', function () {
	            $('#sidebar').addClass('active');
	            $('.overlay').addClass('active');
	            $('.collapse.in').toggleClass('in');
	            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
	        });
	    });
	</script>

	<!-- ========================================================================================== -->
	<div id="map"></div>
	<div id="search">
		<!-- <div id=div1 >동물약국🐶🐱🐹</div> -->
		<form action="request" id="form1">
			<select name="si" id="select1" >
				<option th:value="${ss}" th:each="ss:${sisi}" th:text="${ss}"></option>
			</select>
			<input type="text" name="search" placeholder="내용을 입력해 주세요" id="input1">
			<input type="submit" value="검색" id="input2">
		</form>
		<hr color="gray" size="2">
	</div>
	<!--  -->
	<div id="info">
		
		<div id="info1">
			<div id="info4" th:onclick="setCenter([[${imsi.getREFINE_WGS84_LAT}]],[[${imsi.getREFINE_WGS84_LOGT}]])"
				th:onmouseover="mouseOver([[${imsi.getREFINE_WGS84_LAT}]],[[${imsi.getREFINE_WGS84_LOGT}]], [[${imsi.getBIZPLC_NM}]])"
		 	th:each="imsi:${boardList}" onmouseout="mouseOut()">
				<a id="a1"
				th:text="|${imsi.getBIZPLC_NM}|"
				th:onclick="aclick([[${imsi.getREFINE_WGS84_LAT}]], [[${imsi.getREFINE_WGS84_LOGT}]], [[${imsi.getBIZPLC_NM}]])"></a>
				<div id="div5" th:text="|${imsi.getREFINE_ROADNM_ADDR}|"></div>
				<div id="div6" th:text="|${imsi.getLOCPLC_FACLT_TELNO}|"></div>
				<hr color="gray" size="2">
			</div>
			
			<div id="info5">
				<span aria-hidden="true" >
					<a class="page-item" th:href="@{/request?si={si}&search={search}&page=1 (si = ${si}, search= ${search})}" aria-label="Previous">&lt;&lt;</a>
					<!-- <a class="page-link" th:href="@{/request?si=&search=&page=1}" aria-label="Previous">처음</a> -->
				</span>
				<span aria-hidden="true" >
					<a class="page-item" th:href="@{/request?si={si}&search={search}&page={page} (page = ${pagination.prevBlock}, si = ${si}, search= ${search})}" aria-label="Previous">&lt;</a>
				</span>
				<th:block th:with="start = ${pagination.startPage}, end = ${pagination.endPage}">
					<span th:with="start = ${pagination.startPage}, end = ${pagination.endPage}" th:each="pageButton : ${#numbers.sequence(start, end)}">
						<a th:class="${pageButton == pageNo} ? 'active2'" th:href="@{/request?si={si}&search={search}&page={page} (page = ${pageButton} , si = ${si}, search= ${search} )}" th:text=${pageButton}></a>
					</span>
				</th:block>
				<span aria-hidden="true" >
					<a class="page-item" th:href="@{/request?si={si}&search={search}&page={page} (page = ${pagination.nextBlock}, si = ${si}, search= ${search})}" aria-label="Next">&gt;</a>
				</span>
				<span aria-hidden="true">
					<a class="page-item" th:href="@{/request?si={si}&search={search}&page={page} (page = ${pagination.totalPageCnt}, si = ${si}, search= ${search})}" aria-label="Previous">&gt;&gt;</a>
				</span>
			</div>
		</div>
	</div>
	

	<!-- 지도좌표 표시.. -->
	<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9e6a5e62e51639d306f4fa1f0e4bf38f"></script>
	<script type="text/javascript" th:src="@{/js/map.js}"></script>
	<script th:inline="javascript">
		
		var bl = '[[${boardList}]]'; //페이징 리스트.
		var sc = '[[${sc}]]'; // 평점.
	    var a = JSON.parse(bl);
		var a2 = JSON.parse(sc);
		ddd(a, a2);
	</script>
</body>
</html>