<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ap.consumer.dao.MemberDAO">
	<select id="findByMbid" resultType="com.ap.consumer.vo.Member">
		SELECT mb_id, mb_pw, mb_pw as mb_pw_confirm, mb_name, mb_email FROM member WHERE mb_id=#{mb_id}
	</select>
	
	<insert id="insertNewAccount" parameterType="com.ap.consumer.vo.Member">
		INSERT INTO member VALUES(#{mb_id}, #{mb_pw}, #{mb_name}, #{mb_email})
	</insert>
</mapper>