<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ap.consumer.dao.StarDAO">

<select id="getAllInfo" resultType="com.ap.consumer.vo.StarVO">
   <![CDATA[
    select num, rv_score, rv_comment,REFINE_ROADNM_ADDR
	from 
    (
    	select /*+ INDEX_DESC(review emp_ix02) */
    	    rownum rn,num , rv_score, rv_comment,REFINE_ROADNM_ADDR
    	from
   		    review
    	where rownum<= #{pageNum} * #{amount} and REFINE_ROADNM_ADDR like #{REFINE_ROADNM_ADDR}
    )
	where rn > (#{pageNum} -1) * #{amount} 
    ]]>
</select>

<insert id="starupdate">
	insert into review(REFINE_ROADNM_ADDR,rv_score,rv_comment) values(#{REFINE_ROADNM_ADDR}, #{rv_score}, #{rv_comment})
</insert>

<select id="getTotalCount" resultType="Integer">
    <![CDATA[
       select nvl(count_data,0)from (select count(*) as count_data from review where num > 0 and REFINE_ROADNM_ADDR=#{REFINE_ROADNM_ADDR})  
    ]]>
</select>

<select id="avg" resultType="Integer">
   select nvl(avg_data,0) from(select avg(rv_score) as avg_data from review where REFINE_ROADNM_ADDR=#{REFINE_ROADNM_ADDR})
</select>

</mapper>